@model Easyman.Dto.IconInput
@{
    Layout = "~/Views/Shared/_CommonEdite.cshtml";
}
@section Styles{
    @*放页面自定义样式*@
}
     @Html.HiddenFor(m => m.Id)
    
        <div class="tab-content" style="padding-top:35px;">
            <div role="tabpanel" class="tab-pane active" id="navMenu">
                <div class="form-group">
                    <label for="Name" class="col-sm-4 control-label">图标类型</label>
                    <div class="col-sm-6">
                        @Html.DropDownListFor(d => d.IconTypeId, ViewData["IconType"] as List<SelectListItem>, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content" style="padding-top:12px;">
            <div role="tabpanel" class="tab-pane active" id="navMenu">
                <div class="form-group">
                    <label for="Name" class="col-sm-4 control-label">图标名称</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.DisplyName, new { @class = "form-control", placeholder = "图标名称", @Required = "Required", @oninvalid = "setCustomValidity('请输入名称')", @oninput = "setCustomValidity('')" })<i class="iRequired">*</i>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-content" style="padding-top:12px;">
            <div role="tabpanel" class="tab-pane active" id="navMenu">
                <div class="form-group">
                    <label for="Name" class="col-sm-4 control-label">图标值</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.ClassName, new { @class = "form-control", placeholder = "图标值", @Required = "Required", @oninvalid = "setCustomValidity('请输入图标值')", @oninput = "setCustomValidity('')" })<i class="iRequired">*</i>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-content" style="padding-top:12px;">
    <div role="tabpanel" class="tab-pane active" id="navMenu">
        <div class="form-group">
            <label for="Name" class="col-sm-4 control-label">图标</label>
            <div class="col-sm-6">
              <span><i id="icon_type_img"></i></span>
                
            </div>
        </div>
    </div>
   </div>

        <div class="tab-content" style="padding-top:12px;">
            <div role="tabpanel" class="tab-pane active" id="navMenu">
                <div class="form-group">
                    <label for="Name" class="col-sm-4 control-label">备注</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.Remark, new { @class = "form-control", placeholder = "备注" })
                    </div>
                </div>
            </div>
        </div>

@section scripts{
  @*放页面自定义js*@
<script type="text/javascript">
    
    $(document).ready(function () {
        //初始化
        var cNames = $("#ClassName").val();
        if (cNames != null || cNames != "") {

            $("#icon_type_img").addClass("fa-2x " + cNames);
        }

        //图标，鼠标失去焦点事件
        $("#ClassName").blur(function () {//失去焦点
            var cName = $("#ClassName").val();
            //removeClass()
            $("#icon_type_img").removeClass();
            $("#icon_type_img").addClass("fa-2x " + cName);
        });
    });

    //母版页调用提交方法
    function SubmitForm() {
        //from表单提交路径
        var postUrl = "../api/services/api/Icon/AddOrUpdate";
        //提交方法-JS里面
        handleSubmitForm(postUrl);
    }
</script>
}


