@using Easyman.Common.Mvc.Controls
@model Easyman.Dto.ComputerModel
@{
    Layout = "~/Views/Shared/_CommonEdite.cshtml";
}
@section Styles{
    <style>
        #iconMenuDiv {
            width: 400px;
        }

            #iconMenuDiv span {
                padding: 5px;
                margin: 5px 10px;
                font-size: 22px;
                cursor: pointer;
                display: inline-block;
                border: 1px solid transparent;
            }

                #iconMenuDiv span:hover {
                    transform: scale(1.02);
                    border: 1px solid #ccc;
                    border-radius: 4px;
                }

            #iconMenuDiv h5 {
                margin-left: 10px;
                padding-bottom: 4px;
                border-bottom: solid 1px #707070;
            }

        .form-group {
            margin-bottom: 20px;
        }
    </style>
}

@Html.HiddenFor(h => h.Id)

<div class="tab-content" style="padding-top:12px;">
    <div role="tabpanel" class="tab-pane active" id="navMenu" style="margin-bottom:50px">

        <div class="form-group">
            <label for="Name" class="col-xs-2 control-label">Name</label>
            <div class="col-sm-4">
                @Html.TextBoxFor(f => f.Name, new { @class = "form-control", placeholder = "Name", @Required = "Required", @oninvalid = "setCustomValidity('Please enter Name')", @oninput = "setCustomValidity('')" })<i class="iRequired">*</i>
            </div>
            <label for="Code" class="col-xs-2 control-label">Code</label>
            <div class="col-sm-4">
                @Html.TextBoxFor(f => f.Code, new { @class = "form-control", placeholder = "Code", @Required = "Required", @oninvalid = "setCustomValidity('Please enter Code')", @oninput = "setCustomValidity('')" })<i class="iRequired">*</i>
            </div>
        </div>
        <div class="form-group">
            <label for="ComputerTypeId" class="col-xs-2 control-label">ComputerType</label>
            <div class="col-sm-4">
                @Html.DropDownListFor(p => p.ComputerTypeId, Model.ComputerTypeList == null ? new List<SelectListItem> { new SelectListItem { Text = "no option", Value = "" } } : (Model.ComputerTypeList as List<SelectListItem>),
                          new { @class = "form-control", @Required = "Required", @oninvalid = "setCustomValidity('Please enter ComputerType')", @oninput = "setCustomValidity('')" })<i class="iRequired">*</i>
            </div>
            <label for="DistrictId" class="col-xs-2 control-label">District</label>
            <div class="col-sm-4">
                @Html.DropDownTreeForUser(d => d.DistrictId, "../api/services/api/District/GetDistrictTreeJson")
            </div>
        </div>
        <div class="form-group">
            <label for="UserName" class="col-xs-2 control-label">UserName</label>
            <div class="col-sm-4">
                @Html.TextBoxFor(f => f.UserName, new { @class = "form-control", placeholder = "UserName", @Required = "Required", @oninvalid = "setCustomValidity('Please enter UserName')", @oninput = "setCustomValidity('')" })<i class="iRequired">*</i>
            </div>
            <label for="Pwd" class="col-xs-2 control-label">password</label>
            <div class="col-sm-4">
                @*@Html.TextBoxFor(f => f.Pwd, new { @class = "form-control", placeholder = "账户密码", @Required = "Required", @oninvalid = "setCustomValidity('请输入账户密码')", @oninput = "setCustomValidity('')" })<i class="iRequired">*</i>*@
                @Html.HiddenFor(p => p.Pwd)
                <input id="dbPwd" name="dbPwd" type="password" placeholder="password" class="form-control" required="Required" oninvalid="setCustomValidity('Please enter password')" oninput="setCustomValidity('')" /><i class="iRequired">*</i>
            </div>
        </div>
        <div class="form-group">
            <label for="Ip" class="col-xs-2 control-label">IP</label>
            <div class="col-sm-4">
                @Html.TextBoxFor(f => f.Ip, new { @class = "form-control", placeholder = "IP", @Required = "Required", @oninvalid = "setCustomValidity('Please enter IP')", @oninput = "setCustomValidity('')" })<i class="iRequired">*</i>
            </div>
            <label for="IsUse" class="col-xs-2 control-label">IsUse</label>
            <div class="col-sm-4">
                @Html.CheckBoxFor(f => f.IsUse)
            </div>
        </div>
        
       
        <div class="form-group">
            <label for="Remark" class="col-xs-2 control-label">Remark</label>
            <div class="col-sm-10">
                @Html.TextAreaFor(f => f.Remark, new { @class = "form-control", placeholder = "Remark" })
            </div>
        </div>
    </div>
</div>


@section scripts{
    @*放页面自定义js*@
    <script type="text/javascript">
        $(document).ready(function () {
            var pwd = $("#Pwd").val();
            if (pwd != null && pwd != "") {
                var dPwd = Decrypt(pwd);
                if (dPwd == "" || dPwd == null) {
                    $("#dbPwd").val(pwd);//当解密的内容为空，则赋原值
                }
                else
                    $("#dbPwd").val(dPwd);//解密后赋值给显示密码的控件
            }
        });

    //母版页调用提交方法
    function SubmitForm() {
        //from表单提交路径
        var postUrl = "../api/services/api/computer/InsertOrUpdateComputer";

        var pwd = $("#dbPwd").val();
        if (pwd != null && pwd != "") {
            $("#Pwd").val(Encrypt(pwd));//加密后传入到后台保存
        }
        //提交方法-JS里面
        handleSubmitForm(postUrl);
    }
    </script>
}
