@using System.Web.Optimization
@{
    //Layout = "~/Views/Shared/_Master.cshtml";
    Layout = null;
    ViewBag.Title = "修改密码";
}
<!DOCTYPE html>

<html >
<head>
    <meta charset="utf-8">
    <title>修改密码</title>
    @Styles.Render("~/Bundles/bootstrap/css")
    @Styles.Render("~/Bundles/common/css")
    @Styles.Render("~/Bundles/alert/css")
    <link href="~/fonts/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Common/css/urlExtend.css" rel="stylesheet" />
    <style>
        .sweet-alert{
            padding:0px;
            width: 278px;
            top: 50%;
            left: 70%;
        }
        .sweet-alert .icon{
            margin:  8px auto;
        }
        .sweet-alert h2 {
            margin: initial;
        }
        .sweet-alert button {
            padding: 10px 22px;
            margin: 10px 5px 10px;
        }
        .
    </style>
</head>

<body oncontextmenu="return false" style="padding:15px">
    <form class="form-horizontal" method="post" id="modifyPwdForm" autocomplete="off">
        <input type="hidden" value="" id="hidV">
        <div style="border-bottom: 1px solid #8f7676;margin: 10px -15px 20px -15px;font-size: 30px;padding-left:10px"><i class="fa fa-key" aria-hidden="true"></i> 登录密码修改</div>
        <div class="form-group marb20">
            <label class="col-xs-3 col-sm-3 control-label" style="margin-top: 10px;padding-right: 8px;padding-left: 8px;text-align:right">旧密码</label>
            <div class="col-xs-9 col-sm-9">
                <input type="text" name="OldPassword" required="Required" class="form-control noRecordPwd" id="oldPassword" autocomplete="off" placeholder="请输入原密码" autocomplete="off" oncontextmenu="return false" onpaste="return false" />
            </div>
        </div>

        <div style="margin: 10px 0px 20px -8px;border-top: 1px solid #ddd;"></div>

        <div class="form-group marb20">
            <label class="col-xs-3 col-sm-3 control-label" style="margin-top: 10px;padding-right: 8px;padding-left: 8px;text-align:right">新密码</label>
            <div class="col-xs-9 col-sm-9">
                <input type="password" name="NewPassword" required="Required" class="form-control noRecordPwd" autocomplete="off" id="newPassword" placeholder="请输入新密码" oncontextmenu="return false" onpaste="return false" />
            </div>
        </div>

        <div class="form-group marb20">
            <label class="col-xs-3 col-sm-3 control-label" style="margin-top: 10px;padding-right: 8px;padding-left: 8px;text-align:right">确认密码</label>
            <div class="col-xs-9 col-sm-9">
                <input type="text" name="ConfirmPassword" required="Required" autocomplete="off" class="form-control noRecordPwd" id="confirmPassword" placeholder="请确认密码" autocomplete="off" oncontextmenu="return false" onpaste="return false" />
            </div>
        </div>

        <input name="action" value="login" type="hidden">
        <input id="TenancyName" name="TenancyName" type="hidden" value="管理后台">
        <input id="userId" name="UserId" type="hidden" value="@ViewData["UserId"]">
        <div style="color:red;height:12px" id="error-message"></div>
        <div class="row bottomPage">
            <button type='button' class='btn btn-danger' onclick="ColseModel()" data-dismiss='modal'><i class='fa fa-times'></i> 关闭</button> &nbsp;
            <button type='button' class="btn btn-primary" id="sumbit-btn" data-dismiss='modal'><i class="fa fa-floppy-o" aria-hidden="true"></i> 保存</button>
        </div>
    </form>

    <!-- Javascript -->
    @Scripts.Render("~/Bundles/jquery/js")
    @Scripts.Render("~/Bundles/bootstrap/js")
    @Scripts.Render("~/Bundles/alert/js")
    @Scripts.Render("~/Bundles/abp/js")
    @Scripts.Render("~/Bundles/common/js")
<script src="~/Views/Account/js/modifyPwd.js"></script>
</body>
</html>
