@using Easyman.Common.Mvc.Controls
@model Easyman.Dto.ChartTempModel
@{
    Layout = "~/Views/Shared/_CommonEdite.cshtml";
}
@section Styles{
}
    @Html.HiddenFor(h => h.Id)

        <div class="tab-content" style="padding-top:12px;">
            <div role="tabpanel" class="tab-pane active" id="navMenu" style="margin-bottom:50px">
                <div class="form-group">
                    <label for="ChartTempTypeId" class="col-xs-2 control-label" style="text-align:left">图表种类</label>
                    <div class="col-xs-3">
                        @Html.DropDownListFor(p => p.ChartTypeId, Model.ChartTypeList == null ? new List<SelectListItem> { new SelectListItem { Text = "无选项", Value = "" } } : (Model.ChartTypeList as List<SelectListItem>),
                        new { @class = "form-control" })
                    </div>

                    <label for="Name" class="col-xs-2 control-label" style="text-align:right">图表模版名</label>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(f => f.Name, new { @class = "form-control", placeholder = "图表模版名", @Required = "Required" })
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
                <div class="form-group">
                    
                    <div class="col-xs-12">
                        @Html.HiddenFor(f => f.TempCode, new { @class = "form-control", @style="height:300px", placeholder = "模版代码" })
                        <div style="width:100%;height: 550px;text-align:center;padding:0px 0px 0px 0px" id="divContent">
                            <iframe style="width:100%;height:100%;border:1px solid #ddd;" id="ifm" src="~/Echart/preview.html"></iframe>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        @Html.TextAreaFor(f => f.Remark, new { @class = "form-control", placeholder = "描述说明" })
                    </div>
                </div>
            </div>
        </div>


@section scripts{
   @*放页面自定义js*@
<script type="text/javascript">
    //母版页调用提交方法
    function SubmitForm() {
        //from表单提交路径
        var postUrl = "../api/services/api/ChartReport/InsertOrUpdateChartTemp";

        $("#ifm").contents().find("#getEndCode").click();
        var ec = $("#ifm").contents().find("#endCode").val();
        if (ec != null && ec != "" && ec.length > 0) {
            $("#TempCode").val(Decrypt(ec));
        }

        //提交方法-JS里面
        handleSubmitForm(postUrl);
    }

    window.onload = function () {
        $("#ifm").contents().find("#endCode").val(Encrypt($("#TempCode").val()));
        $("#ifm").contents().find("#SearchBtn").click();//触发CHART子页面的查询按钮  
    }
</script>
}