@using Easyman.Common.Mvc.Controls
@using System.Web.Optimization;
@model Easyman.Dto.ReportOutput
@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

@section Styles{
    @Styles.Render("~/Bundles/App/jqgrid/css")
    @Styles.Render("~/Bundles/App/TbReport/css")
}
<link href="~/fonts/iconfont/iconfont.css" rel="stylesheet" />
<!--按钮区域-->
<!--查询区域-->
<form style="width:95%" id="saveForm" class="form-horizontal" action="" method="post" role="form"></form>
<!--表格区域-->
<div style="height:100%">
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.DbServerId)
    @Html.HiddenFor(m => m.Name)
    @Html.HiddenFor(m => m.Code)
    @Html.HiddenFor(m => m.Sql)
    @Html.HiddenFor(m => m.ChildReportListJson)
    @Html.HiddenFor(m => m.KVJson)
    @Html.HiddenFor(m => m.EmId)
    <input type="hidden" id="columnSumWidth" value="0" />
    <div class="tab-content" style="width:100%;height:100%">
        <!--筛选区域-->
        <div role="tabpanel" class="tab-pane active" id="navMenu" style="padding-top: 4px;padding-bottom: 1px;">
            <div class="collapse row" id="filterHts" style="margin-right: 2px;">
            </div>
            <div id="divTools" style="padding: 0 5px 5px;cursor: pointer;height: 33px;line-height:28px">
                <span id="searchTools" onclick="$('#filterHts').click();" style="display:none;float:left"></span>
                <span id="ExternalTools" style="float:left;"></span>
                <span id="spTools" style="float:left;"></span>              
                <span id="spanSearch" style="float:right;line-height:12px;height:12px"><i class="fa fa-chevron-down" title="点击展开搜索条件区" aria-hidden="true" style="cursor:pointer;margin:0px 0px 0px 5px;color:#000"></i><i class="fa fa-chevron-up" aria-hidden="true" title="点击关闭搜索条件区" style="cursor:pointer;display:none;margin-left:5px;color:#000"></i></span>
            </div>

        </div>
        <a style="width:90px;"></a>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Bundles/App/multipleselect/js")
    @Scripts.Render("~/Bundles/icheck/js")
    @Scripts.Render("~/Bundles/App/jqgrid/js")    
    @Scripts.Render("~/Bundles/App/TbReport/js")
@Scripts.Render("~/Bundles/ztree/js")
    
<script src="~/fonts/iconfont/iconfont.js"></script>
<script src="~/Common/Scripts/calendar/WdatePicker.js"></script>
<script src="~/Common/Scripts/calendar/lang/zh-cn.js"></script>
    <script type="text/javascript" id="dynamicScript"></script>
}
